<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
    <div>
        <!-- Title -->
        <div>
            <div>이미지 / 제목 / 별점 / 등록일</div>
        </div>
        <!-- List -->
        <div>
            <div>이미지 / 3화 / 9.82 / 2020.01.21</div>
            <div>이미지 / 2화 / 9.49 / 2020.01.14</div>
            <div>이미지 / 1화 / 9.73 / 2020.01.08</div>
            <div>이미지 / 에필로그 / 9.91 / 2020.01.01</div>
        </div>
    </div>
</body>
</html>